absl-py==1.4.0
alembic==1.10.3
argon2-cffi==20.1.0
astunparse==1.6.3
async-generator==1.10
attrs==21.2.0
backcall==0.2.0
backports.entry-points-selectable==1.1.1
black==22.3.0
bleach==4.0.0
boto3==1.21.18
botocore==1.24.18
cachetools==5.3.0
certifi==2021.10.8
cffi==1.14.6
chardet==4.0.0
charset-normalizer==2.0.4
click==8.0.3
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==2.2.1
cryptography==3.4.8
cycler==0.10.0
Cython==0.29.24
databricks-cli==0.17.6
dbus-python==1.2.16
debugpy==1.4.1
decorator==5.1.0
defusedxml==0.7.1
detecta==0.0.5
distlib==0.3.5
distro==1.4.0
distro-info===0.23ubuntu1
docker==6.0.1
entrypoints==0.3
et-xmlfile==1.1.0
facets-overview==1.0.0
filelock==3.8.0
Fiona==1.9.3
Flask==2.2.3
flatbuffers==23.3.3
gast==0.4.0
geopandas==0.12.2
gitdb==4.0.10
GitPython==3.1.31
google-auth==2.17.2
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
greenlet==2.0.2
grpcio==1.53.0
gunicorn==20.1.0
h5py==3.8.0
idna==3.2
importlib-metadata==6.3.0
ipykernel==6.12.1
ipython==7.32.0
ipython-genutils==0.2.0
ipywidgets==7.7.0
itsdangerous==2.1.2
jax==0.4.8
jedi==0.18.0
Jinja2==3.1.2
jmespath==0.10.0
joblib==1.0.1
jsonschema==3.2.0
jupyter-client==6.1.12
jupyter-core==4.8.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
keras==2.12.0
kiwisolver==1.3.1
libclang==16.0.0
llvmlite==0.39.1
Mako==1.2.4
Markdown==3.4.3
MarkupSafe==2.1.2
matplotlib==3.4.3
matplotlib-inline==0.1.2
mistune==0.8.4
ml-dtypes==0.0.4
mlflow==2.2.2
munch==2.5.0
mypy-extensions==0.4.3
nbclient==0.5.3
nbconvert==6.1.0
nbformat==5.1.3
nest-asyncio==1.5.1
notebook==6.4.5
numba==0.56.4
numpy==1.22.4
oauthlib==3.2.2
openpyxl==3.1.2
opt-einsum==3.3.0
packaging==23.0
pandas==1.3.4
pandocfilters==1.4.3
parso==0.8.2
pathspec==0.9.0
patsy==0.5.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.4.0
platformdirs==2.5.2
plotly==5.9.0
pmdarima==2.0.3
prometheus-client==0.11.0
prompt-toolkit==3.0.20
protobuf==4.22.1
psutil==5.8.0
psycopg2==2.9.3
ptyprocess==0.7.0
pyarrow==7.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
Pygments==2.10.0
PyGObject==3.36.0
pyhydroqc==0.0.4
PyJWT==2.6.0
pyodbc==4.0.31
pyparsing==3.0.4
pyproj==3.5.0
pyrsistent==0.18.0
python-apt==2.0.1
python-dateutil==2.8.2
pytz==2021.3
PyYAML==6.0
pyzmq==22.2.1
querystring-parser==1.2.4
requests==2.26.0
requests-oauthlib==1.3.1
requests-unixsocket==0.2.0
rsa==4.9
s3transfer==0.5.2
scikit-learn==0.24.2
scipy==1.7.1
seaborn==0.11.2
Send2Trash==1.8.0
shap==0.41.0
shapely==2.0.1
six==1.16.0
sklearn==0.0.post1
slicer==0.0.7
smmap==5.0.0
SQLAlchemy==2.0.9
sqlparse==0.4.3
ssh-import-id==5.10
statsmodels==0.13.5
tabulate==0.9.0
tenacity==8.0.1
tensorboard==2.12.1
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
tensorflow==2.12.0
tensorflow-estimator==2.12.0
tensorflow-io-gcs-filesystem==0.32.0
termcolor==2.2.0
terminado==0.9.4
testpath==0.5.0
threadpoolctl==2.2.0
tokenize-rt==4.2.1
tomli==2.0.1
tornado==6.1
tqdm==4.65.0
traitlets==5.1.0
typing_extensions==4.5.0
unattended-upgrades==0.1
urllib3==1.26.7
virtualenv==20.8.0
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.5.1
Werkzeug==2.2.3
widgetsnbextension==3.6.0
wrapt==1.14.1
zipp==3.15.0
